
$theme-background: #ffffff !default;
$theme-border-color: #eee !default;
$theme-blue-color: #2d64d1 !default;

$theme-text-color-main: #5D5D5D !default;
$theme-text-color-secondary: #000000 !default;