// Converted Variables
$spacing-0-125: 0.125rem !default; // 2px
$spacing-0-25: 0.25rem !default; // 4px
$spacing-0-5: 0.5rem !default; // 8px
$spacing-0-75: 0.75rem !default; // 12px
$spacing-1: 1rem !default; // 16px
$spacing-1-25: 1.25rem !default; // 20px
$spacing-1-5: 1.5rem !default; // 24px
$spacing-1-75: 1.75rem !default; // 28px
$spacing-2: 2rem !default; // 32px
$spacing-2-25: 2.25rem !default; // 36px
$spacing-2-5: 2.5rem !default; // 40px
$spacing-2-75: 2.75rem !default; // 44px
$spacing-3: 3rem !default; // 48px
$spacing-4: 4rem !default; // 64px
$spacing-5: 5rem !default; // 80px
$spacing-6: 6rem !default; // 96px
$spacing-7: 7rem !default; // 112px
